.balance{
  display: flex;
}
.leftcup, .display,.rigthcup {
  width: 500px;
  height: 300px;
}

.display{
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 72pt;
  background: url('images/display.jpg') no-repeat;
  background-size: contain;
}

.leftcup{
  background: url('images/left.png') no-repeat;
  background-size: contain;

}

.rigthcup{
  background: url('images/rigth.png') no-repeat;
  background-size: contain;

}

.bags{
  width: 100px;
  height: 100px;
}

.draggable {
  cursor: pointer;
}
